@{
    Layout = null;

    var http = Model.Exception as HttpException;
    var errorCode = http != null ? http.GetHttpCode().ToString() : "General Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>@errorCode</h1>
        <h2>An error occurred while processing your request.</h2>

    </hgroup>
    @if (System.Web.HttpContext.Current.IsDebuggingEnabled)
    {
        <pre style="display: block; width: 100%; overflow-x: scroll">@Model.Exception</pre>
    }
</body>
</html>