@{
    ViewBag.Title = "File Results";
}

<ul id="result" class="files"></ul>
<div id="loading">Loading...</div>

@section Scripts {
<script id="file-template" type="text/x-jsrender">
	<li class="file">
		<a href="@Url.Content("~/"){{attr:url}}" class="thumbs" data-img="{{attr:displayUrl}}" data-type="{{attr:displayType}}" data-download="{{attr:downloadUrl}}">
	    	<span class="file-image">
	   			<img src="{{attr:previewUrl}}" />
			</span>
			<span class="name">
		        <span class="pack-name">{{>pack}}</span>
		        <span class="file-name">{{>fileName}}</span>
	        </span>
		</a>
	</li>
</script>

<script>
	$(function() {
		$('#result').pageloader({
			params: @Html.Raw(ViewBag.Params),
			url: "@Url.RouteUrl("api", new { httproute="", Controller = "file" })",
			template: "#file-template",
			loading: "#loading",
		});
		$('#result').gallery({
			images: 'a.thumbs',
			rel: 'thumbs',
			loadMore: function(finished) {
				$('#result').pageloader('load', finished);
			}
		});
	});
</script>
}