
@import 'elements.less';

@import 'Site.css';

@retina:   ~"(-webkit-min-device-pixel-ratio: 2)", ~"(min-resolution: 192dpi)";

@mobile:   ~"only screen and (max-width : 640px)";

@desktop:  ~"only screen and (min-width : 640px)";

.body-content {
	@media @desktop {
		padding-left: 15px;
		padding-right: 15px;
	}
	@media @mobile {
		padding-left: 2%;
		padding-right: 2%;
	}
	word-wrap:break-word;
}

.image-rendering-nearest() {
	image-rendering: -moz-crisp-edges;		 /* Firefox */
	image-rendering:   -o-crisp-edges;		 /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.clearfix() {
	zoom: 1;
	&:before { content: ''; display: block; }
	&:after { content: ''; display: table; clear: both; }
}
	
.page-pack-detail, .page-year-detail, .page-file-index, .page-pack-index
{
	.files {
		.clearfix();

		@media @desktop {
			margin: 10px;
		}
		padding: 0;

		li.file {
			
			@media @desktop {
				margin: 6px;
				width: 160px;
			}
			@media @mobile {
				margin: 2%;
				width: 46%;
			}
			display: block;
			float: left;
			height: 140px;
			overflow: hidden;
			background-color: black;
			text-align: center;
			position: relative;
			.rounded(4px);

			a {
				text-decoration: none;
				color: gray;
			}


			.file-image
			{
				height: 110px;
				display: block;
				overflow-y: visible;
				line-height: 110px;

				img {
					max-width: 100%;
				}
			}

			.file-name
			{
				font-size: 12px;
				display: inline-block;
				height: 30px;
				padding: 6px 0px;
				white-space: nowrap;
				width: 100%;
				background-color: black;
				background-color: rgba(0,0,0,0.8);
			}
		}

		.file:hover {
			.box-shadow(0px 0px 10px black);
			.transition();
			a {
				color: white;
			}
			.file-name
			{
				background-color: #333;
			}
		}

	}
}

.page-file-index
{
	.files {
		li.file {
			.pack-name {
				display: block;
				font-size: 10px;
				height: 12px;
			}

			.file-name {
				height: 18px;
				padding: 0px;
			}
		}
	}
}

.page-pack-file
{
	.main-image
	{
		text-align: center;

		img.sized
		{
			max-width: 100%;
		}

		@media @retina {
			img.nearest
			{
				.image-rendering-nearest();
			}
		}
	}
}