@model int
@{
    ViewBag.Title = "Year " + @Model;
}

<h2>@Model</h2>

<ul id="result" class="files"></ul>
<div id="loading">Loading...</div>

@section Scripts {
<script id="pack-template" type="text/x-jsrender">
	<li class="file">
		<a href="@Url.Content("~/"){{attr:url}}">
			<span class="file-image">
				<img src="{{attr:previewUrl}}" />
			</span>
			<span class="file-name">{{>name}}</span>
		</a>
	</li>
</script>

<script>
	$(function() {
		$('#result').pageloader({
			url: "@Url.RouteUrl("api", new { httproute="", Controller = "Year", id = Model })",
			template: "#pack-template",
			selector: function(data) { return data.packs; },
			loading: "#loading",
		});
	});
</script>
}