@model Pablo.Gallery.Api.ApiModels.YearResult
@{
    ViewBag.Title = "Years";
}

<h2>Years</h2>

<ul id="result" class="years"></ul>
<div id="loading">Loading...</div>

@section Scripts {
<script id="year-template" type="text/x-jsrender">
	<li class="year">
		<a href="@Url.Content("~/"){{attr:url}}" title="{{attr:year}} - {{attr:packs}} packs" class="btn btn-default">
			<span class="file-name">{{>year}}</span>
		</a>
	</li>
</script>

<script>
	$(function() {
		$('#result').pageloader({
			url: "@Url.RouteUrl("api", new { httproute="", Controller = "year"})",
			template: "#year-template",
			loading: "#loading",
			selector: function(data) { return data.years; },
		});
	});
</script>
}