@model Pablo.Gallery.Api.ApiModels.PackDetail
@{
    ViewBag.Title = "Pack " + Model.Name;
}

<h2>Pack @Model.Name</h2>

<ul class="files">
    @foreach (var file in Model.Files)
    {
        <li class="file">
        	<a href="@Url.Content(string.Format("~/pack/{0}", file.Path))">
	        	<span class="file-image">
	       			<img src="@Url.Content(file.Url(maxWidth: 320))" />
				</span>
		        <span class="file-name">@Path.GetFileName(file.NativeFileName)</span>
			</a>
        </li>
    }
</ul>

    