﻿﻿@model Pablo.Gallery.Models.File
@{
    ViewBag.Title = "File " + Model.Pack.Name + "\\" + Model.FileName;
	var show = Request["display"] != "true";
	ViewBag.ShowNav = show;
}
@if (show) {
	<h2>@Html.ActionLink(Model.Pack.Name, "Detail", new { pack = Model.Pack.Name })\@Model.FileName</h2>
	<p>
		<a href="@Url.Content(Model.DownloadUrl())">Download File</a>
	</p>
}
	else {
	<h3>@Model.FileName</h3>
	}
<p class="main-image">
	@Html.Partial("_type_" + Model.OutputType, Model)
</p>