@{
    ViewBag.Title = "Packs";
}

<h2>Packs</h2>

<ul id="result" class="files"></ul>
<div id="loading">Loading...</div>

@section Scripts {
<script id="pack-template" type="text/x-jsrender">
	<li class="file">
		<a href="{{attr:PackUrl}}">
			<span class="file-image">
				<img src="{{attr:PreviewUrl}}" />
			</span>
			<span class="file-name">{{>PackName}}</span>
		</a>
	</li>
</script>

<script>
	$(function() {
		$('#result').pageloader({
			params: @Html.Raw(ViewBag.Params),
			url: "@Url.Action("Detail")",
			template: "#pack-template",
			loading: "#loading",
		});
	});
</script>
}